@font-face{
    font-family: IranYekan;
    src: url('iranyekanwebregular.ttf')
}
@font-face{
    font-family: IranYekanLight;
    src: url('iranyekanweblight.ttf')
}
@font-face{
    font-family: IranYekanBold;
    src: url('iranyekanwebbold.ttf')
}