@import 'fonts/fonts.scss';

$background: #181b20;
$background-grey: #2d3139;
$primary: #22262e;
$foreground: #b0b0b0;
$title: #ffffff;
$info: rgb(105,109,117);
$radius: 30px;
$box-shadow: 0px 7px 29px 0px #00000050;
$button-box-shadow: 0px 0px 20px 0px;

$blue: #0090D9;
$red: #E62C50;
$green: #24DB58;
$yellow: #DBC727;

:root{
    --animate-delay: .25s;
}

// remove input number arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
    border: none;
    width: 98%;
    font-family: IranYekan;
    font-size: 16px;
    border-radius: $radius;
    outline: none;
    background-color: $blue;
    color: #ffffff;
    padding: 5px 5px;
    box-shadow: $button-box-shadow rgba($blue, .2);
    transition: box-shadow .5s, opacity .2s;

    &:disabled{
        opacity: .7;

        &:hover{
            opacity: .5;
            cursor: no-drop;
            box-shadow: none;
        }
    }

    &:hover{
        opacity: .8;
        cursor: pointer;
        transition: box-shadow .5s, opacity .2s;
        box-shadow: $button-box-shadow rgba($blue, .5);
    }
}

@mixin btn-outline($color){
    width: auto;
    padding: 5px 20px 2px;
    border: 2px solid $color;
    background-color: transparent;
    color: $color;
    box-shadow: none;

    &:hover{
        box-shadow: none;
    }
}

.btn-outline-{
    &blue  {@include btn-outline($blue);}
    &red   {@include btn-outline($red);}
    &green {@include btn-outline($green);}
    &yellow{@include btn-outline($yellow);}
    &grey  {@include btn-outline($background-grey);}
}

@mixin btn($color){
    width: auto;
    padding: 5px 20px 2px;
    background-color: $color;
    border: 2px solid $color;
    box-shadow: $button-box-shadow rgba($color, .6);

    &:hover{
        box-shadow: $button-box-shadow rgba($color, .4);
    }
}

.btn-{
    &blue  {@include btn($blue);}
    &red   {@include btn($red);}
    &green {@include btn($green);}
    &yellow{@include btn($yellow);}
    &grey  {@include btn($background-grey);}
}

a{
    font-family: IranYekan;
    color: $foreground;
    text-decoration: none;
}

html, body, #root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root{
    background-image: url("images/bg.svg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: $primary;
    box-shadow: $box-shadow;
    padding: 15px 5px;
    border-radius: $radius;
    color: $foreground;
}

.inner-box{
    background-color: $background;
    padding: 15px 10px;
    border-radius: $radius;
    color: $foreground;
    box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, .2);
    transition: box-shadow .5s, transform .5s;

    .title{
        color: $title;
        text-align: center;
        font-family: IranYekan;
        margin: 0px 5px 10px 5px;
    }
}

.title-info{
    color: $info;
    font-family: IranYekan;
    font-size: .97em;
    text-align: center;
}

@media (hover: hover){ 
    .inner-hover:hover{
        transition: box-shadow .5s, transform .5s;
        transform: translateY(-10px);
        box-shadow: 0px 12px 10px 1px rgba(0, 0, 0, .2);
    }
}

#login-box{
    text-align: center;
    font-size: 1.4rem;
    font-family: IranYekanBold;
    min-width: 300px;
    max-width: 400px;
    width: 17vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: $title;
}

#search-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 4rem;
}

#content{
    min-width: 775px;
    width: 40vw;
    height: 450px;
    padding: 0;
    display: grid;
    grid-template-columns: [content] 75% [sidebar] 25% [end];
}

#sidebar{
    grid-column: sidebar / end;
    display: grid;
    height: 100%;
    grid-template-rows: [image] 45% [navbar] 55% [end];
    border-radius: 0 $radius $radius $radius;
    box-shadow: -10px 0px 24px 0px #00000035;

    #sidebar-img{
        object-fit:cover;
        max-height: 100%;
        border-top-right-radius: $radius;
    }
    
    #sidebar-img-wrapper{
        grid-row: image / navbar;
    }

    #sidebar-content{
        display: flex;
        flex-direction: column;
        text-align: center;

        a{
            margin: 10px auto;
        }
    }
}

.active{
    transition: color .2s;
    color: $title !important;
}



#content-content{
    grid-column: content / sidebar;
    grid-row: 1 / 2;
    display: block;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;

    #rank{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 2fr 1fr;
        gap: 20px;

        #rank-game{
            grid-row: 1 / 2;
        }

        .rank-buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            button{
                margin: 10px 5px 0 0;
            }
        }

        #rank-privacy{
            grid-row: 2 / 3;
        }
    }

    #donate{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 60% 1fr;
        gap: 20px;

        #donate-donate{
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

        #donate-price{
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        #donate-donators{
            grid-row: 1 / 3;
            grid-column: 2 / 3;
        }

    }
    
    #dashboard{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 25% 1fr; //112.5px 279px
        gap: 20px;
        height: 100%;

        #rankup{
            grid-column: 1 / 2;
            grid-row: 1/ 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 10px 15px;
            text-align: center;

            button{
                background-color: var(--rank-color);
                

                &:hover{
                    box-shadow: $box-shadow var(--rank-color);
                }
            }
                        
            .rankup-info{
                color: $info;
                font-family: IranYekan;
                font-size: .97em;
            }

            .rankup-val{
                color: $foreground;
                font-family: IranYekan;
                font-size: 1em;
                margin: 5px 5px 10px;
                direction: ltr;

                #rankup-val-parser{
                    color: $info;
                }
            }

            #rankup-percent{
                color: $title;
                text-align: center;
                font-family: IranYekan;
                font-size: 2.5rem;
                margin-right: 5px;

                &::after{
                    content: '%';
                    font-size: .5em;
                    position: absolute;
                    top: 45%;
                }
            }
        }

        #info{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        #refid{
            grid-column: 2 / 3;
            grid-row: 2 / 3;

            #refid-info{
                text-align: center;
                color: $info;
                font-family: IranYekan;
                font-size: .97em;
            }

            #refid-cldbid{
                color: $title;
                background-color: lighten($background, 2);
                text-align: center;
                margin-top: 15px;
                padding: 7px 5px;
                font-family: IranYekan;
                border-radius: $radius*.5 $radius*.5 0 0;
                width: 94%;
            }

            #refid-refid{
                outline: none;
                width: 94%;
                border: none;
                background-color: $primary;
                text-align: center;
                padding: 7px 5px;
                font-family: IranYekan;
                border-radius: 0 0 $radius*.5 $radius*.5;
                color: $foreground;
                font-size: 1em;
                box-shadow: 0px 7px 10px 0px #00000030;

                &::placeholder{
                    color: $info;
                }
            }
        }
    }
}

.info-sec{
    text-align: center;
    font-family: IranYekan;
    font-size: .97em;
    direction: rtl;

    .inf{
        display: inline;
        color: $info;

        &::after{
            content: ':';
        }
    }

    .val{
        direction: rtl;
        display: inline;
        color: $foreground;
        padding-right: 10px;

        .sign{
            font-size: smaller;
        }
    }
}

#bottom-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background-color: $primary;
    box-shadow: 0px -7px 48px 0px #00000050;
    width: 100%;
    height: 4rem;
    direction: rtl;
    z-index: 1;
    
    .bottom-navbar-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;

        .bottom-navbar-text{
            font-family: IranYekan;
            padding: 2px 0 0;
        }
    }
}

.alert{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: .5em;
    z-index: 2;
    box-sizing: border-box;

    .alert-text{
        width: fit-content;
        min-width: 30%;
        max-width: 95%;
        color: #ffffff;
        margin: 10px 15px;
        padding: 10px 1.5em;
        text-align: center;
        font-family: IranYekan;
        border-radius: $radius;
        direction: rtl;
    }

    @mixin alert-color($color){
        background-color: $color;
        box-shadow: 0px 0px 48px 0px rgba($color, .5);
    }

    .alert-{
        &success{@include alert-color($green);}
        &danger {@include alert-color($red);  }
        &info   {@include alert-color($blue); }
    }
}

@media only screen and (max-width: 600px) {
    html, body{
        background-color: $primary;
    }

    .alert{
        min-width: 100%;
    }

    #root{
        background-image: none;
        
    }

    #content{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 0;
        box-shadow: none;
        overflow-x: hidden;
        overflow-y: visible;
        box-sizing: border-box;
    
        #content-content{
            min-width: 100%;
            max-width: 100%;
            width: 100%;
            height: 100%;
            display: block;
            overflow-x: hidden;
            overflow-y: visible;
            margin: 10px 0px;
            box-sizing: border-box;

            &::after{
                display: block;
                content: 'last chance :)';
                visibility: hidden;
                font-size: 3rem;
            }

            .inner-box{
                margin-bottom: 30px;
            }

            #rank{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                grid-template-columns: none;
                align-content: center;
            }

            #dashboard{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;

                #rankup{
                    margin-top: 0px;
                    width: 270.53px;
                    height: 391.5px;
                }

                #info{
                    width: 270.53px;
                    height: 80.5px;
                }

                #refid{
                    width: 270.53px;
                    height: 280px;
                }
            }
        }
    }

    #sidebar{
        display: none;
    }
}

/* 
    loading is created by Alphardex on https://codepen.io/alphardex/pen/zYxXObq
    all credits goes to him    
*/

#loading{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.loading-circle {
    $circle-count: 30;
    $circle-diameter: 0.45em;
    $ring-radius: 2em;
    $duration: 2.5s;
    position: absolute;
    width: $circle-diameter;
    height: $circle-diameter;
    border-radius: 50%;
    background: $title;
    opacity: 0;
    animation: move-to-center $duration ease-in-out infinite;
  
    @for $i from 1 through $circle-count {
        &:nth-child(#{$i}) {
            $ratio: $i / $circle-count;
            // Make a ring of circles, and move them to center;
            transform: rotate($ratio * 720deg) translateX($ring-radius);
            // Then stagger the animation, and it becomes a spiral.
            animation-delay: $ratio * $duration;
        }
    }
}
  
@keyframes move-to-center {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
  